.customSelect,
.customSelectLabel,
.customSelectElement,
.customSelectValue,
.customSelectOptions
.customSelectOption {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.customSelect {
  min-width: 250px;
  max-width: 350px;
}

.customSelectLabel {
  font-weight: bold;
}

.customSelectElement {
  position: relative;
  z-index: 1;
  width: 100%;
}

.customSelectElement:focus > .customSelectValue {
  outline: none;
}

.customSelectValue,
.customSelectValueSelected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
  border: solid 1px var(--gray-400);
  box-shadow: 0 0 10px var(--shadow-100);
  background-color: var(--white);
}

.customSelectValue {
  border-radius: 8px;
}

.customSelectValueSelected {
  border-radius: 8px 8px 0 0;
  border: solid 2px var(--gray-400);
  border-bottom: none;
}

.customSelectValue::after,
.customSelectValueSelected::after {
  content: '';
  display: inline-block;
  border: solid 4px transparent;
  margin-left: 12px;
}

.customSelectValue::after {
  border-top-color: var(--arrow);
  margin-top: 4px;
}

.customSelectValueSelected::after {
  border-bottom-color: var(--arrow);
  margin-top: -4px;
}

.customSelectOptions,
.customSelectOptionsShow {
  position: absolute;
  padding: 0;
  margin: 0;
  width: calc(100% - 4px);
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  border: solid 1px var(--gray-400);
  border-radius: 0 0 8px 8px;
  box-shadow: inset 0 -10px 10px -10px var(--shadow-500), inset 0 10px 10px -10px var(--shadow-500);
  background-color: var(--white);
}

.customSelectOptions {
  display: none;
}

.customSelectOptionsShow {
  display: block;
  border: solid 2px var(--gray-400);
  border-top: none;
}

.customSelectOptionsShow::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

.customSelectOptionsShow::-webkit-scrollbar-track {
  background-color: var(--gray-100);
  border-radius: 8px;

}

.customSelectOptionsShow::-webkit-scrollbar-thumb {
  background-color: var(--gray-300); 
  border-radius: 8px;
}

.customSelectOptionsShow::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-600); 
}

.customSelectOption,
.customSelectOptionSelected {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.customSelectOptionSelected {
  background-color: var(--blue-100);
}

.customSelectOption:hover,
.customSelectOptionSelected:hover {
  background-color: var(--blue-500);
}